<h4>Reactive Forms: Example 1</h4>
<div class="well well-lg">

  <form [formGroup]="exampleForm" (ngSubmit)="submitForm(exampleForm)">
    <div [hidden]="submitted">

      <div class="form-group row" [ngClass]="{'has-error': hasErrors('firstName')}">
        <div class="col-sm-6">
          <label for="firstName" class="control-label">First Name
            <span style="color:red"> *</span>
          </label>
          <input type="text" id="firstName" name="firstName" class="form-control" formControlName="firstName" placeholder="Required" dir-letter-only>
          <small *ngIf="hasErrors('firstName')" class="help-block">
            <span *ngIf="firstName.errors.required">First Name is required.</span>
            <span *ngIf="firstName.errors.minlength">First Name must be at least 2 characters long.</span>
            <span *ngIf="firstName.errors.maxlength">First Name cannot exceed 15 characters.</span>
            <span *ngIf="firstName.errors.letterOnly">{{ firstName.errors.letterOnly }}</span>
          </small>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': hasErrors('lastName')}">
        <div class="col-sm-6">
          <label for="lastName" class="control-label">Last Name
            <span style="color:red"> *</span>
          </label>
          <input type="text" id="lastName" class="form-control" formControlName="lastName" placeholder="Required">
          <small *ngIf="hasErrors('lastName')" class="help-block">
            <span *ngIf="lastName.errors.required">Last Name is required.</span>
            <span *ngIf="lastName.errors.minlength">Last Name must be at least 2 characters long.</span>
            <span *ngIf="lastName.errors.maxlength">Last Name cannot exceed 15 characters.</span>
            <span *ngIf="lastName.errors.letterOnly">{{ lastName.errors.letterOnly }}</span>
          </small>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': hasErrors('middleInitial')}">
        <div class="col-sm-4">
          <label for="middleInitial" class="control-label">Middle Initial</label>
          <input type="text" id="middleInitial" class="form-control" formControlName="middleInitial" placeholder="Optional">
          <small *ngIf="hasErrors('middleInitial')" class="help-block">
            <span *ngIf="middleInitial.errors.maxlength">Middle Initial must be 1 character long.</span>
            <span *ngIf="middleInitial.errors.letterOnly">{{middleInitial.errors.letterOnly}}</span>
          </small>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': hasErrors('gender')}">
        <div class="col-sm-4">
          <label for="gender" class="control-label">Gender
            <span style="color:red"> *</span>
          </label>
          <select id="gender" class="form-control" formControlName="gender">
            <option value="">Select One</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
          <small *ngIf="hasErrors('gender')" class="help-block">
            <span *ngIf="gender.errors.required">Gender is required.</span>
          </small>
        </div>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-default" (click)="resetForm(exampleForm)">Reset</button>
        <button type="submit" class="btn btn-primary" (click)="submitForm(exampleForm)">Submit</button>
      </div>

    </div>
  </form>

  <div *ngIf="submitted">
    <label>You've submitted!</label>
    <pre>{{ exampleForm.value | json }}</pre>
    <button type="button" class="btn btn-default" (click)="resetForm(exampleForm)">Add New</button>
  </div>
  
</div>
